*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: 0px solid;
  // box-sizing: border-box;
}

*:hover,
*:active,
*:focus,
*:visited,
*::after:hover,
*::after:active,
*::after:focus,
*::after:visited,
*::before:hover,
*::before:active,
*::before:focus,
*::before:visited {
  outline: 0px solid;
}

:root {
  --font-size: 50%;
  --font-size-adjust: 0px;
  @include from(320px) {
    --font-size: 60%;
  }
}

html {
  // font-size: 100% = 25.60
  font-size: calc(var(--font-size) + var(--font-size-adjust));
  // font-size: 62.5%;
  font-family: $fontFamily, sans-serif;
  // @include to(250px) {
  //   font-size: 30%;
  // }
  // height: 100%;
  min-height: 100vh;
  // overflow-x: hidden;
  // -webkit-tap-highlight-color: transparent;

  scroll-behavior: smooth;

  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;

  font-weight: 500;
  // line-height: 1.5;
  line-height: initial;
  @include t-(gray-dark);
  text-align: left;
  // line-break: auto;
  font-size: 1rem;
  // background-color: $white;
  // smooth transition--------
  // transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  transition: color 1000ms ease-in-out;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // Disable Mobile Webkit Highlights ----------
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}

img {
  border: 0;
  max-width: 100%;
  // max-height: 100%;
  vertical-align: middle;
  display: inline-block;
  object-fit: cover;
}
button {
  color: inherit;
}
table {
  border-collapse: collapse;
  width: 100%;
  // margin-bottom: 10rem;
  overflow-x: auto;
  border-spacing: 0;
  display: table;

  & td,
  & th,
  & {
    padding: Div($padding, 3);
    // vertical-align: top;
    // border-bottom: 1px solid #dee2e6;
    // border: 2px solid #dee2e6; // all bordered
  }
  & th {
    text-align: center;
    font-weight: $bold;
    // background-color: rgb(231, 231, 231);
  }
  & caption {
    font-weight: $italic;
    font-size: 1rem;
  }
  &.odd tr:nth-child(odd) {
    // background: #dae5f4;
    @include bg-(primary-light);
  }
  &.even tr:nth-child(even) {
    // background: #dae5f4;
    @include bg-(primary-light);
  }
  // & tbody {
  // }
  // & thead {
  // }
}

hr {
  // border-style: solid;
  @include my-($margin);
  // margin-top: $margin;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid Color(gray-light);
}
// hr {
//   margin: 1em 0;
//   display: block;
//   height: 1px;
//   border: 0;
//   padding: 0;
//   border-top: 1px solid #ccc;
// }

//==========================tips==========================//
//  Define the background color for all the ODD background rows  */
// tr:nth-child(odd) {
//   background: #dae5f4;
// }
//  Define the background color for all the EVEN background rows  */
//  tr:nth-child(even){
//   background: #dae5f4;
// }

//-------------------progress----------------------------------//
progress,
iframe,
embed,
audio,
canvas,
object,
meter {
  // vertical-align: baseline;
  width: 100%;
  max-width: 100%;
  // background-color: rgba(255, 255, 255, 0);

  // &::-webkit-progress-bar {
  //   // background-color: $gray-light;
  //   border-radius: 20px;
  // }
  // &::-moz-progress-bar {
  //   // background-color: $gray-light;
  //   border-radius: 20px;
  // }

  // @include placeholder(progress-bar) {
  //   background-color: var(--primary-dark);
  //   border-radius: 20px;
  // }
}
.progress {
  height: 16px;
  background-color: $gray-light;
  display: flex;
  & *:not(div) {
    justify-self: center;
    align-self: center;
  }
  & > div {
    height: 100%;
  }
}

//-------------------------------------------//
// global variables, from bootstrap
:root {
  // colors ---------------------------------
  @each $key, $value in $colors {
    --#{"" +$key}: #{$value};
  }
}

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

//------------------Interpuncts----------------------------------*/
.list-interpunct > li::before {
  content: "・";
  display: inline-block;
  // float: left;
  margin: 0 0 0 -0.9em;
  width: 0.9em;
}

@media (min-width: 992px) {
  .list-interpunct > li::before {
    margin: 0 0 0 -1.5em;
    width: 1.5em;
  }
}

@each $key, $index in $zIndexs {
  .z-#{"" + $key} {
    z-index: $index;
  }
}

strong {
  font-weight: 700;
}

// ----------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  // margin-bottom: 0.5rem;
  font-weight: 500;
  // color: var(--title-color);
  // line-height: 1.2;
}

h1 {
  font-weight: bold;
  font-size: $title; // 2.5rem
}

h2 {
  font-size: $title - 0.5;
}

h3 {
  font-size: $title - 0.75;
}

h4 {
  font-size: $title - 1;
}

h5 {
  font-size: $title - 1.25;
}

h6 {
  font-size: $title - 1.5;
}

//  font 2
.font2 {
  @if $font2 != none {
    font-family: $font2;
  }
}

//-------------------selection----------------------------------//
::selection {
  background: $selection-bg;
  color: $selection-color;
}
::-moz-selection {
  background: $selection-bg;
  color: $selection-color;
}
::-webkit-selection {
  background: $selection-bg;
  color: $selection-color;
}

//-------------------links----------------------------------//
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}
.a {
  color: $link;
  color: var(--link);
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  @extend a;
  &:link {
    color: $link;
  }
  &:visited {
    color: darken($link, $lighten);
  }
  &:hover {
    color: lighten($link, 40%);
  }
  &:active {
    color: darken($link, $darken);
  }
}
//-----------------------------------------------------//

// ol ol,
// ol ul,
// ul ol,
// ul ul {
//   margin-left: 2rem;
// }

// .ol,
// .ol,
// .ul {
//   padding-left: $padding * 2;
// }
// ol,
// ol,
// ul {
//   padding: 0 1em;
// }

li {
  // list-style-type: circle;
  padding-left: $padding;
  margin-left: 16px;
}
.li {
  margin-left: 0px;
  padding-left: 0;
  list-style-type: none;
}

pre,
samp {
  // font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  //   "Courier New", monospace;
  overflow: auto;
  font-size: 1rem;
  // display: block;
}

.wrap-text {
  white-space: pre-wrap; // css-3 */
  white-space: -moz-pre-wrap; // Mozilla, since 1999 */
  white-space: -pre-wrap; // Opera 4-6 */
  white-space: -o-pre-wrap; // Opera 7 */
  word-wrap: break-word; // Internet Explorer 5.5+ */
}

//-------------------code----------------------------------//

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

// code,
// pre {
//   background: #f5f7f9;
//   border-bottom: 1px solid #d8dee9;
//   color: #a7adba;
// }

//-------------------blockquote----------------------------------//
// blockquote {
//   font-style: italic;
// }

blockquote,
pre {
  // border: 1px solid #adb5bd;
  page-break-inside: avoid;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

//==========================print==========================//
// @media print {
//   *,
//   ::after,
//   ::before {
//     text-shadow: none;
//     box-shadow: none;
//   }
// }

p {
  line-height: 1.5;
}

.foreign-language {
  direction: rtl;
}

// articles margin -----------------------------------------------

%marginBottom {
  margin-bottom: Div($margin, 2);
}

blockquote,
figure,
p,
ul,
li,
input,
select,
textarea {
  @extend %marginBottom;
}

$value: 5;
@for $var from 1 through 6 {
  h#{$var} {
    //  @extend %marginBottom;
    margin-bottom: $margin + $value;
  }
  $value: $value - 1;
}
figcaption {
  @include my-(Div($margin, 2));
}

h5,
h4,
h3,
h2 {
  margin-bottom: $margin;
}

h1 {
  margin-bottom: Div($margin, 2) * 3;
}

*[hidden] {
  display: none !important;
}

.no-select {
  @include noSelectText;
}
