header.bg-gray.menubar.p.t-light.t-uppercase.flex-col
	//- .gap-col
	nav
		a.menubar-item(class="hover:bg-gray-light-t" ).round-1#btn-menu
			<i class="fas fa-bars box-2 "></i>

			a.menubar-item(class="hover:bg-gray-light-t" href="index.html").round-1
				<i class="fas fa-tools box-2"></i>
				span.menubar-text builder
				span.menubar-tooltip.t-black builder
			a.menubar-item(class="hover:bg-gray-light-t" href="all.html").round-1
				<i class="fas fa-tags box-2"></i>
				span.menubar-text All tags
				span.menubar-tooltip.t-black Todos los tags

	hr.mt-a.mb

	span.menubar-item(class="hover:bg-gray-light-t show-more" ).round-1
		<i class="fas fa-text-height box-2"></i>
		a.menubar-text.round-4.t-center.b#font-increase +
		a.menubar-text.round-4.t-center.b#font-deincrease -

	span.menubar-item(class="hover:bg-gray-light-t" href="#").round-1#dark-theme
		<i class="far fa-moon box-2"></i>
		span.menubar-text dark theme
		span.menubar-tooltip.t-black dark theme
	span.menubar-item(class="hover:bg-gray-light-t" href="#").round-1#revealer
		<i class="far fa-eye box-2"></i>
		span.menubar-text reveal borders
		span.menubar-tooltip.t-black reveal borders
	span.menubar-item(class="hover:bg-gray-light-t" href="#").round-1#revealer.t-sm
		.box-2 
		span.menubar-text Stephan Bautista