@mixin toggle-wrap($md) {
  @include to($md) {
    position: absolute;
    top: 100%;
    left: 0;
    // width: 100%;
    // transform: translate(0, 0);
    // background-color: inherit;
    background-color: red;
    @content;
  }
}

.toggle-wrap {
  @include toggle-wrap($md) {
    width: 100%;
  }
}

.menu-list {
  @include to($md) {
    @include flex-dcia(column, space-around, center);
    // width: 100%;
    // @include gap-col($margin);
    height: 200px;
  }
  @include from($md) {
    @include flex-dcia(row, stretch);
    @include gap-row($margin);
  }
  // background-color: inherit;
}

// <div class="hide-down-t toggle-wrap" id="toggle">
//   <ul class=" menu-items">
//     <li class="">Home</li>
//     <li class="">About</li>
//     <li class="">Contact</li>
//     <li class="">Shop</li>
//   </ul>
// </div>
